.sls-bo-color {
    background-color: #BDCD00 !important;
    color: #fff !important;
}

.sls-bo-color-pseudo-before:before {
    background-color: #BDCD00 !important;
}

.sls-bo-color-border,
.sls-bo-color-border-hover:hover,
:hover > .sls-bo-color-border-hover,
.sls-bo-color-parent:hover .sls-bo-color-border-hover {
    border-color: #BDCD00 !important;
}

.opened > .sls-bo-color-opened,
.opened > .sls-bo-color-hover,
.selected > .sls-bo-color-hover,
.sls-bo-color-hover.opened,
.sls-bo-color-hover.selected,
.sls-bo-color-hover:hover {
    background-color: #BDCD00 !important;
    color: #fff !important;
}

.sls-bo-color-text {
    color: #BDCD00 !important;
}

.selected > .sls-bo-color-text-hover,
.sls-bo-color-text-hover.selected,
.sls-bo-color-text-hover:hover {
    color: #BDCD00 !important;
}

.sls-bo-color-trigger:hover ~ .sls-bo-color-prevDependent-hover {
    background-color: #BDCD00 !important;
}

#sls-bo-view .sls-bo-listing-recordset:hover .sls-bo-listing-cell + .sls-bo-listing-cell,
#sls-bo-view .sls-bo-dashboard-module-content .sls-bo-listing-recordset:hover .sls-bo-listing-cell {
    background-color: rgba(189, 205, 0, 0.1) !important;
}

#sls-bo-view .sls-bo-listing-recordset.checked .sls-bo-listing-cell + .sls-bo-listing-cell {
    background-color: rgba(189, 205, 0, 0.15);
}

#sls-bo-toolbar .selected > .category-title:before {
	background-color: #BDCD00;
	color: #BDCD00;
}